<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-pL6UJXTmZT6feZUBF2nLa6TuLg6eKj6EoC6CHXUg1sUzJPdZ1zjZzN4J4q3qQ2n/6xQyRXCX9nS+D/ZQo0bLQQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/msalehian"><i class="icon fab fa-linkedin-square" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; {{ site.title }} {{ site.email }}</p>
    </footer>
  </body>
</html>